<a href="https://colab.research.google.com/github/WatanabeGabriel/TFMC_test/blob/main/GW_DESAFIO_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DESAFIO 0

The period between 1970 and 1982 marked a significant shift in the United States car industry. American production shifted from heavy, powerful six- and eight-cylinder cars with poor gas mileage to lighter, less powerful, four-cylinder cars with higher fuel efficiency. The global auto industry–including Americans and their European and Japanese competitors–raised overall miles per gallon (MPG) by focusing on four-cylinder cars and making them more fuel efficient.

In [1]:
import pandas as pd
import numpy as np

## Faça a leitura inicial dos dados e explore suas informações, estude seus tipos, sua forma e apresente uma análise inicial das medidas de dispersão de seus atributos.

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/abnr/ml-data/main/auto_industry.csv')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [ ]:
data.info() # Make sense.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [24]:
data.duplicated().sum()

0

In [ ]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [ ]:
data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [ ]:
colunas_constantes = []
for coluna in data.columns:
    if data[coluna].nunique() == 1:
        colunas_constantes.append(coluna)

colunas_constantes

[]

In [ ]:
#data =data.replace(" ", np.nan ) # <--------
#data.isna().sum()

## Procure por valores faltantes nas colunas do dataframe e faça as substituições mais razoáveis.

In [3]:
data['mpg'] = data['mpg'].astype('float64')
data['cylinders'] = data['cylinders'].astype('int64')
data['displacement'] = data['displacement'].astype('float64')
data['horsepower'] = data['horsepower'].astype('float64')
data['weight'] = data['weight'].astype('int64')
data['acelleration'] = data['acceleration'].astype('float64')  
data['model_year'] = data['model_year'].astype('int64')
data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
acelleration    0
dtype: int64

In [4]:
#data["horsepower"].isnull() .describe()
valores = {"horsepower": data["horsepower"].mean()} # <---- trocar pelo melhor método
data = data.fillna(value = valores)
data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
name            0
acelleration    0
dtype: int64

## Calcule quantos modelos foram lançados em anos pares

In [5]:
print("Foram lançados ", np.sum((data["model_year"] % 2) == 0), " modelos em anos pares")

Foram lançados  214  modelos em anos pares

## Crie uma coluna para a marca do veículo e outra para o nome

In [6]:
data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,acelleration
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,12.0
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,11.5
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,11.0
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,12.0
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,10.5
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500,10.0
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala,9.0
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii,8.5
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina,10.0
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl,8.5

In [22]:
# data2 =[]
#data1 = pd.DataFrame(data["name"].str.split(" ", n=1, expand= True), columns=["marca","modelo"]) #pq n funcionou?
data[["marca", "modelo"]] = data["name"].str.split(" ", n=1, expand= True)
#data2 = pd.DataFrame(data1, columns=["marca","modelo"])
#data2.head(5)
data = data.drop(columns = ["name"]) # como fazer com o lambda?
data.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,acelleration,marca,modelo
0,18.0,8,307.0,130.0,3504,12.0,70,usa,12.0,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,11.5,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,11.0,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,12.0,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,10.5,ford,torino

In [23]:
data.iloc[385:400]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,acelleration,marca,modelo
385,38.0,4,91.0,67.0,1995,16.2,82,japan,16.2,datsun,310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,usa,16.4,buick,century limited
387,38.0,6,262.0,85.0,3015,17.0,82,usa,17.0,oldsmobile,cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,14.5,chrysler,lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,14.7,ford,granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,13.9,toyota,celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,13.0,dodge,charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,17.3,chevrolet,camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,15.6,ford,mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,24.6,vw,pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,11.6,dodge,rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,18.6,ford,ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,19.4,chevy,s-10

## É posível identificar alguma relação entre mpg e acceleration?

## Explore as variáveis da tabela agrupando pelo país de origem. Existe diferenças entre elas?

## Remova os elementos duplicados e crie uma tabela de consumo em (Km/L), altere os nomes dos países de origem para que todos comecem com letras maiúsculas.

In [25]:
data.duplicated().sum()

0

## Use a função [pivot_table()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) para criar uma tabela dinâmica que calcule a média do consumo (miles/galon) `'mpg'`. Divida o dataframe em ano de modelo `'model_year'` e número de cilindros `'cylinders'`. Descreva os resultados.

## Agrupe o dataframe por origem  `'origin'` e número cilindros `'cylinders'` e calcule a média da potência `'horsepower'` dos carros fabricados.

## Verifique como consumo, horsepower e cylinders se altera ao longo dos anos para cada país da coluna origin.

## Crie uma nova coluna com o continente dos países baseado na coluna `origin`

# Bônus - estatística

# Apresente a centralidade, dispersão e distribuição das variáveis

## Gere matriz e gráfico de correlação

# Bonus - DataViz

## Gere gráficos de boxplots para todos os elementos numéricos do dataframe.

## Crie uma nova coluna com a relação peso/potência para cada veículo e plote um gráfico de dispersão dessa coluna com a de consumo